<!DOCTYPE html>
<html>
<body style="background-image: url(../static/book2.jpg); background-size: cover;">
<head>
    <link rel="stylesheet" href="../static/mystyle.css">
</head>

<div>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
        <h1 style="text-align: center;">{{ message }}</h1> 
        {% endfor %}
      {% endif %}
    {% endwith %}
</div>
<div style="padding: 60px 0px;">
    <h1 style="text-align:center"> LOGIN: </h1>
</div>

    <div id="form" align='center'>
        <form action="/login" method="POST">

          <label for="mail">Email ID:</label><br>
          <input type="email" id="mail" name="mail" style="font-size: 22px; font-family:Georgia, 'Times New Roman', Times, serif;" required><br><br>

          <label for="pw">Password:</label><br>
          <input type="password" id="pw" name="pw" style="font-size: 22px; font-family: Georgia, 'Times New Roman', Times, serif;" required><br><br>

          <input type="submit" value="Submit" class="button" style="font-size: 20px;">
        </form>
    </div>


</body>
</html>
